{% extends 'base.html'%}
{% block body%}

<div class="reg-form w-50 m-auto shadow p-3 mt-3 bg-body rounded bg-muted">
    <div class="header text-primary text-center">
        <h3>CREATE AN ACCOUNT</h3>
    </div>
    <form method="POST" action="" >
        {{ form.csrf_token }}
        <div class=" shadow-sm p-1 mb-2 bg-body rounded">
            {{ form.email.label (class='form-label') }} {{ form.email (class='form-control')}} 
        </div>
        <div class="shadow-sm p-1 mb-2 bg-body rounded">
            {{ form.username.label (class='form-label') }} {{ form.username (class='form-control')}}
            </div>
        <div class=" shadow-sm p-1 mb-2 bg-body rounded">
            {{ form.password.label (class='form-label') }} {{ form.password (class='form-control')}}
        </div>
        <div class=" shadow-sm p-1 mb-2 bg-body rounded">
            {{ form.password2.label (class='form-label') }} {{ form.password2 (class='form-control')}}
        </div>
        {{form.submit (class='btn btn-primary w-100')}}
    </form>

</div>

{% endblock%}