
<div class=" d-flex flex-column justify-content-center  vh-100 quote position-fixed m-1 mt-3 p-3">
    <div class = "quote-block">
        <figure class="text-center text-light">
            <blockquote class="blockquote">
              <p> {{ Quote.quote}} </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              By <cite title="Source Title">{{ Quote.author}}</cite>
            </figcaption>
          </figure>
    </div>
    <div class="form w-75 text-center m-auto">
      <form method="POST" action="" >
        <h3 class = "text-primary">Subscribe to get notifications</h3>
        {{ form.csrf_token }}
        <div class=" shadow-sm p-3 mb-2 bg-body rounded">
            {{ form.email.label (class='form-label') }} {{ form.email (class='form-control')}} 
        </div>
        {{form.submit (class='btn btn-primary')}}
    </form>
    </div>
 </div>