<nav class="navbar navbar-dark bg-primary navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BLOGPOST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-around w-50" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-light" aria-current="page" href="{{ url_for('main.home')}}">Home</a>
          <a class="nav-link text-light" href="{{ url_for('main.add_blog')}}">NewBlog</a>
        </div>
        <div class="auth d-flex justify-content-around">
            {% if current_user.is_authenticated %}
                    <span class = "nav-link text-light"> <a class="text-light" href="{{ url_for('main.profile')}}"> <i class="fas fa-user-circle"></i> {{current_user.username}} </a></span>
                    <span class="nav-link text-light"><a class ="text-light" href="{{url_for('auth.logout')}}">Sign out</a></span>
                    {% else %}
                    <span ><a class="nav-link text-light" href="{{url_for('auth.register')}}">Register</a></span>
                    <span><a class="nav-link text-light" href="{{url_for('auth.login')}}">Sign in</a></span>
           {%endif%}
           </div>
      </div>
    </div>
  </nav>